/* Psitioning Elements 4 */
/* Vertical 1D */

.training-container:nth-child(4) .training-el line:nth-of-type(2) {
    transform: rotate(20deg);
    transform-box: fill-box;
    transform-origin: top;
}

/* Training 5 */
/* Animate Path */
.training-container:nth-child(5) .training-el {}

/* Training 6 */
/* Masonry Horizontal */
.training-container:nth-child(6) .training-el {}

/* Training 7 */
/* 2D - Template Areas */
.training-container:nth-child(7) .training-el {}

/* Training 8 */
/* 2D - Areas + Overlay */
.training-container:nth-child(8) .training-el {}

/* Training 9 */
/* 2D - Template Areas + Overlay */
.training-container:nth-child(9) .training-el {}

/* Training 10 */
/* 2D - Implicit Grid */
.training-container:nth-child(10) .training-el {}