.training-el :is(span, header, aside, main, footer, section) {
    background-color: var(--clr-base);
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.training-el :is(span, header, aside, main, footer, section).light {
    background-color: var(--clr-base-light);
}


.training-el :is(span, header, aside, main, footer, section).dark {
    background-color: var(--clr-dark);
    color: #fff;
}


.training-el small {
    background-color: transparent;
    text-transform:none;
    font-style: italic;
    padding: 0;
}

.training-el img {
    width: 100%;
}

.masonry.horizontal > span:nth-child(1) {
    width: 60px;
}

.masonry.horizontal > span:nth-child(2) {
    width: 40px;
}

.masonry.horizontal > span:nth-child(3) {
    width: 50px;
}

.masonry.horizontal > span:nth-child(4) {
    width: 70px;
}

.masonry.horizontal > span:nth-child(5) {
    width: 20px;
}

.masonry.horizontal > span:nth-child(6) {
    width: 30px;
}

.masonry.horizontal > span:nth-child(7) {
    width: 40px;
}

.masonry.horizontal > span:nth-child(8) {
    width: 70px;
}

.masonry.horizontal > span:nth-child(9) {
    width: 20px;
}

.masonry.horizontal > span:nth-child(10) {
    width: 30px;
}

.masonry.vertical > span:nth-child(1) {
    height: 60px;
}

.masonry.vertical > span:nth-child(2) {
    height: 40px;
}

.masonry.vertical > span:nth-child(3) {
    height: 50px;
}

.masonry.vertical > span:nth-child(4) {
    height: 70px;
}

.masonry.vertical > span:nth-child(5) {
    height: 20px;
}

.masonry.vertical > span:nth-child(6) {
    height: 30px;
}

.masonry.vertical > span:nth-child(7) {
    height: 40px;
}

.masonry.vertical > span:nth-child(8) {
    height: 70px;
}

.masonry.vertical > span:nth-child(9) {
    height: 20px;
}

.masonry.vertical > span:nth-child(10) {
    height: 30px;
}

/* Table */

.training-el.table {
    padding: 6px;
}

.training-el.table :is(span, header, aside, main, footer) {
    text-transform: none;
}

.training-el.table :is(header, main) {
    background-color: transparent;
    padding: 0;
}

.training-el.table header {
    border-bottom: 1px solid #000;
}

.training-el.table header span {
    background-color: #ccc;
    margin-bottom: 6px;
}
