:root {
    --clr-6: #fff;
    --clr-5: #9c9c9c;
    --clr-4: #464646;
    --clr-3: #2f3455;
    --clr-2: #2d2d2d;
    --clr-1: #1d1f2b;
    --clr-base: #0a0b13;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
    font-family: Lato, helvetica, arial, sans-serif;
    overflow: hidden;
    counter-reset: links;
    background-color: var(--clr-base);
    color: var(--clr-6);
}

h1 {
    background-color: var(--clr-2);
    padding: 0.7em 1em;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    border-block-end: 1px solid var(--clr-4);
}

h2 {
    z-index: 1;
    align-self: start;
    justify-self: stretch;
    margin: 0;
    padding: .6em 1em;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 60px;
}

h2::before {
    counter-increment: links;
    content: counter(links) ". ";
}

a {
    text-decoration: none;
    color: var(--clr-6);
}

.main-nav {
    display: grid;
    max-width: 90%;
    max-height: 90%;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-nav>* {
    flex: 1;
    overflow: hidden;
    border: 1px solid var(--clr-5);
}

.main-nav>*:nth-child(1) {
    grid-row: span 2;
    /* border-inline-end: 1px solid var(--clr-6); */
}

.main-nav>*:nth-child(2) {
    grid-column: span 2;
    /* border-block-end: 1px solid var(--clr-6); */
}

.main-nav>*:nth-child(3) {
    grid-column: span 2;
}

.main-nav a {
    display: grid;
    height: 100%;
    overflow: hidden;
    /* color: #000; */
    align-items: center;
    justify-items: center;
    background-color: var(--clr-1);
    /* background-color: var(--clr-3); */

}

.main-nav a:hover {
    background-color: var(--clr-3);
}

.main-nav a>* {
    grid-area: 1 / 1 / -1 / -1;
}

.main-nav img {
    /* height: 100%; */
    /* max-width: 80%;
    max-height: 80%; */
    width: 298px;
    object-fit: contain;
    filter: grayscale(1);
    overflow: hidden;
    mix-blend-mode: soft-light;
    object-position: bottom right;
    align-self: end;
    justify-self: end;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(15%, 15%);
}